.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

#loading {
	background-color: #3498DB;
	height: 5px;
	width: 0px;
	left: 0px;
	top: 0px;
    position: fixed;
    z-index: 999;
}

.navbar-inverse{
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.image_header{
    background-image: url("http://chuantu.biz/t3/20/1461336487x3738746565.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    /*background-attachment:fixed;*/
    width: 100%;
    height: 600px;
    margin-top: -35px;
    z-index: -1;
}

.page_title{
    text-align: center;
    color: #ffffff;
}
.page_title h1{
    line-height: 520px;
}
.page_title h5{
    line-height: 520px;
}

.post{
    list-style:none;
}
.post_title h5{
    color:black;
}
.post_time{
    font-style: italic;
    font-size:0.8em;
}
.post_tag{
    top:25px;
}

.go_up{
    position: fixed;
    bottom: 0px;
    right: 3%;
}
.go_up p{
    font-size:40px;
}
.footer{
    margin-top: 100px;
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;

}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 0px;
    min-height: 45px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;

}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
div.post.from {
    height: 300px;
    width: 500px;
}
body {
    padding-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;}
div.pic{
    position: absolute;
    height: 100%;
    width: 100%;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;

}

div.navbar-opacity{
    background-color: rgba(0, 0, 0, 0 );
}

