<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<ul class="posts">
    {% for post in posts %}
        <li class="post">

            <div class="post-content">
                <div class="post-date"><h4>{{ moment(post.timestamp).fromNow() }}</h4></div>

                <div class="post-body">
                    <h3><span class="label label-danger">{{ post.kind }}</span></h3>

                    {% if post.body_html %}
                        <p>{{ post.body_html| safe}}</p>
                    {% else %}
                        {{ post.body }}
                    {% endif %}


                </div>

                <a href="{{ url_for('.post', id = post.id) }}">
                    <button type="submit" class="btn btn-primary">评论</button>
                </a>
                {% if current_user.administrator%}
                    <a href="{{ url_for('.edit', id = post.id) }}">
                        <button class="btn btn-info" type="submit">编辑</button>
                    </a>
                    <a href="{{ url_for('.delete', id = post.id) }}">
                        <button class="btn btn-danger" type="submit">删除</button>
                    </a>
                {% endif %}

            </div>

        </li>
    {% endfor %}
</ul>
