
<ul class="posts">
    {% for post in posts %}
        <li class="post">

            <div class="post-content">
                <div class="post-date"><h4>{{ moment(post.timestamp).fromNow() }}</h4></div>

                <div class="post-body">
                <div> <h3> <a href={{ url_for('main.kind',kind = post.kind) }}><span class="label label-danger">{{ post.kind }}</span></a></h3>
                </div>


                    {% if post.body_html %}
                        {{ post.body_html | safe  }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}


                </div>

                <a href="{{ url_for('.post', id = post.id) }}">
                    <button type="submit" class="btn btn-primary">评论</button>
                </a>
                {% if current_user.administrator%}
                    <a href="{{ url_for('.edit', id = post.id) }}">
                        <button class="btn btn-info" type="submit">编辑</button>
                    </a>
                    <a href="{{ url_for('.delete', id = post.id) }}">
                        <button class="btn btn-danger" type="submit">删除</button>
                    </a>
                {% endif %}

            </div>

        </li>
    {% endfor %}
</ul>
