{% extends "base.html" %}


{% block page_content %}
    <div>
        <img class="img-circle" src={{url_for('static', filename='admin.png')}} >
    </div>
    <div>
        <h1>此博客基于python+flask搭建，源码在我的Github，欢迎star，fork。</h1>
        <h2>如何联系我？</h2>
        <h3>qq:624373606</h3>
        <h3>gmail:saialer1996@gmail.com</h3>
        <h3>5sing:<a href="http://5sing.kugou.com/sailaer/default.html">sailaer's 5sing</a></h3>
        <h3>github:<a href="https://github.com/sailaer">sailaer's github</a></h3>
        <h3>你可以叫我月的傲娇（sailaer）</h3>
        <h4>---一只迷茫的ee大一狗</h4>
        <h3>人生苦短，为什么不乘热来一发呢？【滑稽</h3>
        <h4>ps:事实上注册账号没有鸟用，因为不注册也可以直接评论，但是你也能强行注册玩玩咯</h4>

    </div>

{% endblock %}