{% extends "bootstrap/base.html" %}
{% block title %}傲娇小窝{% endblock %}
{% block head %}
    {{ super() }}



    <link rel="shortcut icon" href="{{ url_for('static', filename='admin.jpg') }}" type="image/x-png">
    <link rel="icon" href="{{ url_for('static', filename='admin.jpg') }}" type="image/x-png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link type="text/css" href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery.nicescroll/3.6.8/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/headroom/0.7.0/headroom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="//cdn.bootcss.com/highlight.js/9.2.0/styles/ir-black.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://api.youziku.com/webfont/FastJS/yzk_71173B3BF6CF5B88"></script>

{% endblock %}



{% block navbar %}
    <script>
        $('body').niceScroll({
            cursorcolor: "#000",//#CC0071 光标颜色
            cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
            touchbehavior: true, //使光标拖动滚动像在台式电脑触摸设备
            cursorwidth: "5px", //像素光标的宽度
            cursorborder: "1px solid ＃FFF", //     游标边框css定义
            cursorborderradius: "5px",//以像素为光标边界半径
            autohidemode: false, //是否隐藏滚动条
            mousescrollstep:80 //设置滚动速度
        });
    </script>
    <div id="loading"></div>
    <div class="navbar navbar-default navbar-opacity navbar-fixed-bottom container-fluid navbar-embossed " role="navigation">
        <div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">小窝</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li><a class="body" href="{{ url_for('main.kind',kind = "CSAPP") }}">CSAPP</a></li>
                    <li><a href="{{ url_for('main.kind', kind = 'LISP') }}">LISP</a></li>
                    <li><a href="{{ url_for('main.kind', kind = "算法导论") }}">算法导论</a></li>
                    <li><a href="{{ url_for('main.kind', kind = "杂记") }}">杂记</a></li>
                    <li><a href="{{  url_for('main.kind', kind = "编程相关") }}">编程相关</a></li>
                    <li><a href="{{ url_for('main.kind', kind = '填词') }}">填词</a></li>
                    <li><a href="{{ url_for('main.about') }}">戳我啊QAQ</a></li>
                    <li><a href="{{ url_for('main.comment') }}">我是一只留言板w</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.Allcomments') }}">查看所有评论</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{#content#}
{% block content %}

    {% block page_image %}
        <div class="container-fluid">
            <div class="row">
                <div class="image_header col-lg-12">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="page_title">
                            <img class="img-circle" src={{url_for('static', filename='admin.jpg')}} >
                            <br>
                            <img class="" src={{url_for('static', filename='title.png')}} >
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
      <div class="container">

    {% block page_content %}

    {% endblock %}


    <ul class="list-inline text-center footer">


        <li>
            <a target="_blank" href="https://github.com/sailaer">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
            </a>
        </li>



    </ul>

    <p class="copyright text-muted text-center">
        Copyright © sailaer 2016
        <br>


    </p>
    </div>



{% endblock %}





<{#js#}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript">
        var myElement = document.querySelector("header");
        // 创建 Headroom 对象，将页面元素传递进去
        var headroom  = new Headroom(myElement);
        // 初始化
        headroom.init();
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
        $youziku.load(".post",  "3a40e663fea44fc1a91a5a26c4d3047d", "Heiti-TC-Light");
        $youziku.draw();
    </script>
{% endblock %}

