{% extends "bootstrap/base.html" %}
{% block title %}sailaer{% endblock %}
{% block head %}
    {{ super() }}
    {% block metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock%}

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='admin.png') }}" type="image/x-png">
    <link rel="icon" href="{{ url_for('static', filename='admin.png') }}" type="image/x-png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}


<body>
{% block navbar %}
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">小窝</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">CSAPP</a></li>
                    <li><a href="{{ url_for('main.index') }}">LISP</a></li>
                    <li><a href="{{ url_for('main.index') }}">算法导论</a></li>
                    <li><a href="{{ url_for('main.index') }}">杂记</a></li>
                    <li><a href="{{ url_for('main.index') }}">编程相关</a></li>
                    <li><a href="{{ url_for('main.index') }}">填词</a></li>
                    <li><a href="{{ url_for('main.about') }}">联系我</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
</body>
</html>