{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}




{% block page_content %}
    <div>
        <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}迷途中的人{% endif %}!</h1>
        <h4>这里有我的一点小财宝，当然也包括这个博客的源码 <a href="https://github.com/sailaer">sailaer's github</a>| | |<a href="http://5sing.kugou.com/sailaer/default.html">sailaer's 5sing </a></h4>
    </div>
    <div class="">
        {% if current_user.is_administrator() %}
            {{ wtf.quick_form(form, extra_classes = 'div.post.from')}}
        {% endif %}
    </div>


    {% include '_posts.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}




